body {
	background-color: rgb(60,106,145);
}

nav {
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
	/*color: rgb(87, 132, 168);*/
	display: inline;
	margin: 0 30px;

}

.nav-nonButton {
	color: rgb(189, 190, 191);
}

.textBox {
	background-image: url("/images/frame.png");
	background-color: #cccccc;
}

.login {
	background-color: rgb(87, 132, 168);
}